
<nav class="nav__list">
  {% if sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ sidebar.title }}</h3>{% endif %}
  <input id="ac-toc" name="accordion-toc" type="checkbox" />
  <label for="ac-toc"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path></svg>
Table of Content</label>

  <ul class="nav__items">
    {% for nav in navigation[nav] %}
      <li>
        {% if nav.url %}
          {% comment %} internal/external URL check {% endcomment %}
          {% if nav.url contains "://" %}
            {% assign nav_url = nav.url %}
          {% else %}
            {% assign nav_url = nav.url | relative_url %}
          {% endif %}

          <span class="nav__sub-title"><a href="{{ nav_url }}">{{ nav.title }}</a></span>
        {% else %}
          <span class="nav__sub-title">{{ nav.title }}</span>
        {% endif %}

        {% if nav.children != null %}
        <ul>
          {% for child in nav.children %}
            {% comment %} internal/external URL check {% endcomment %}
            {% if child.url %}
              {% if child.url contains "://" %}
                {% assign child_url = child.url %}
              {% else %}
                {% assign child_url = child.url | relative_url %}
              {% endif %}

              {% comment %} set "active" class on current page {% endcomment %}              
              {% if child.url == page.url %}
                {% assign active = "active" %}
              {% else %}
                {% assign active = "" %}
              {% endif %}

              <li>              
                <a href="{{ child_url }}" data-url={{page.url}} class="{{ active }}">
                  {% if child.icon %}
                    <svg class="nav__icon" ><use xlink:href="/assets/icons.svg#{{child.icon}}"></use></svg>
                  {% else %}
                    <span class="nav__no-icon"></span>
                  {% endif %}
                  {{ child.title }}
                </a></li>
            {% elsif child.separator %}
              <li class="separator"></li>
            {% elsif child.title %}
              <li class="sub-title">{{ child.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>